button{
    color:white;
 background-color:blue  ;
 border-radius: 25px;
 width: 35px;
 height: 35px;
 
}
button:hover{
    background-color: black;
}
input{
    border-radius: 25px;
    width: 150px;
    
}
.clear{
    background-color: red;
}
.clear:hover{
    background-color: black;
}
div{
    width: 160px;
    
    background-color: rgb(15, 224, 15);
}